:root {
    --colorblue: #2196F3;
    --colorblack: #212121;
    --colorwhite: #FFFFFF;
    --coloryellowgreen: yellowgreen;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background-color: var(--colorwhite);
    color: var(--colorblack);
    width: 1600px;
    margin: 0 auto;
}

/*header*/

header {
    background-color: var(--colorwhite);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
}

.header-content,.content {
    width: 1600px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    align-items: center;
}


.logo-link {
    color: var(--colorblue);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-left: 215px;
    text-align: center;
    text-decoration: none;
}   

.menu-list {
    display: flex;

}

.current {
    color: var(--colorblue);
}

.menu-link {
    color: var(--colorblack);
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.menu-link:hover {
    color: var(--colorblue);
}


.menu-link:focus {
    color: red;
}


.black-accent {
    color: var(--colorblack);
}

.blue-accent {
    color: var(--colorblue);
}

.header-contacts {
    display: flex;
}

.color-tel {
    color: #757575;
}

/*main*/

    /*section title*/
    .section-title {
        background-color: #2F303A;
        color: var(--colorwhite);   
    }

    .title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        }


        /*button*/

    .button-title {
        width: 200px;
        height: 50px;
        background-color: var(--colorblue);
        color: var(--colorwhite);
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        border-radius: 4px;
        }
           
    /*section advantage*/

    .section-advantage {
        background-color: #E5E5E5;
    }

    .advantage-list {
        display: flex;
    }

    .advantage-title {        
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
    }
    .advantage-text {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: #757575;
    }

    /*section doing*/

    .section-doing {
        background-color: #E5E5E5;
        text-align: center;
        }

    .doing-title,
    .teams-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: #212121;
        }

    .doing-list {
        display: flex;
    }



    /*teams*/

    .section-teams {
        background-color: #F5F4FA;
        text-align: center;
    }

    .teams-list {
        display: flex;
    }

    .team-user {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        color: #212121;
    }

    .team-prof {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #757575;
    }

    /*footer*/

    .footer-container {
        /*width: 1600px;
        margin: 0 auto;*/
        background-color: var(--colorblack);
    }

    .adress {
        font-style: normal;
    }

    .adress-info {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--colorwhite);
        text-decoration: none;
    }

    .adress-info:hover {
        color: var(--colorblue);
    }

    .adress-info:focus {
        color: red;
    }

    .contacts-info {
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
    }

    .contacts-info:hover {
        color: var(--colorblue);
    }

    .contacts-info:focus {
        color: red;
    }

    .logo-accentfooter {
        color: var(--colorwhite);
    }

    /* Portfolio*/

    .filter {
        display: flex;
    }

    .cursor {
        cursor: pointer;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        color:var(--colorblack);
    }

    .cursor:hover {
        color: var(--coloryellowgreen)
        background-color: var(--colorblue);
    }

    .cursor:focus {
        color: var(--colorblue);
        background-color: var(--colorblack)
    }

    .row {
        display: flex;
    }

    .photo-cards {
        width: 370px;
        height: 294px;
    }

.type-work {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.direction {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;
}
